@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,600);

body {
  background: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
body, input, button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #7E96B3;
}
.checkmark__circle {
stroke-dasharray: 166;
stroke-dashoffset: 166;
stroke-width: 2;
stroke-miterlimit: 10;
stroke: #7ac142;
fill: none;
animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
width: 56px;
height: 56px;
border-radius: 50%;
display: block;
stroke-width: 2;
stroke: #fff;
stroke-miterlimit: 10;
margin: 10% auto;
box-shadow: inset 0px 0px 0px #7ac142;
animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
transform-origin: 50% 50%;
stroke-dasharray: 48;
stroke-dashoffset: 48;
animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
100% {
stroke-dashoffset: 0;
}
}
@keyframes scale {
0%, 100% {
transform: none;
}
50% {
transform: scale3d(1.1, 1.1, 1);
}
}
@keyframes fill {
100% {
box-shadow: inset 0px 0px 0px 30px #7ac142;
}
}


.container {
  max-width: 515px;
  margin: 0 auto;
  padding: 100px 30px;
  text-align: center;
}
a {
  color: #0652DD;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.error {
  color: #EA2027;
}
h1 {
  margin-bottom: 40px;
}
h2 {
  font-size: 28px;
  font-weight: normal;
  color: #3C5675;
  margin-bottom: 0;
}

form {
  margin-top: 40px;
}
.FormGroup {
  margin-bottom: 20px;
}
.FormGroup .FormField:first-child input {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.FormGroup .FormField:last-child input {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.FormField input {
  background: #EDF2F7;
  margin: 0 0 1px;
  border: 2px solid transparent;
  transition: background 0.2s, border-color 0.2s, color 0.2s;
  width: 100%;
  padding: 15px 15px 15px 180px;
  box-sizing: border-box;
}
.FormField input:focus {
  border-color: #0652DD;
  background: #fff;
  color: #444;
  outline: none;
}
.FormField label {
  float: left;
  width: 160px;
  text-align: right;
  margin-right: -160px;
  position: relative;
  margin-top: 18px;
  font-size: 14px;
  pointer-events: none;
  opacity: 0.7;
}
button {
  background: #3C5675;
  color: #fff;
  border: 0;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px 30px;
  -webkit-appearance: none;
}

.btn {
  background: #3C5675;
  color: #fff;
  border: 0;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px 30px;
  -webkit-appearance: none;
}

button[disabled] {
  opacity: 0.5;
}

#error {
  background: #D83E3E;
  color: #fff;
  padding: 15px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;

  animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}

.Problems {
  margin-top: 50px;
}
.Problems .Problem:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.Problems .Problem:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.Problem {
  background: #EDF2F7;
  margin: 0 0 1px;
  padding: 20px 25px;
  text-align: left;
}
.Problem-message {
  font-size: 16px;
  color: #3C5675;
  font-weight: normal;
  margin: 0;
}
.Problem-detail {
  font-size: 13px;
  margin: 5px 0 0;
}
