body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background: #F7F7F7 !important;
}

.header .logo {
	width: 100%;
	height: 175px;
	background: #ffffff;
}

.header .logo img {
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	display: block;
	width: 150px;
	height: auto;
	-webkit-animation: logo_move 7s infinite;
    -moz-animation:    logo_move 7s infinite;
    -o-animation:      logo_move 7s infinite;
    animation:         logo_move 7s infinite;
}

.blue {
	background: #325BA6;
	color: #f2f2f2;
}

.login-form {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    position: relative;
}

.navbar a {
	text-decoration: none;
	color: #f2f2f2;
}


.navbar .nav-item {
    height: 100%;
    padding: 5px 24px 5px 0px;
    text-align: center;
}

.nav-link {
	color: #ffffff !important;
}

.sale-bar {
	background: #F85454;
	width: 100%;
	color: #ffffff;
	text-align: center;
	padding: 5px 0px;
}

.container {
	width: 1264px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.badge:after{
    font-family: 'Montserrat', sans-serif;
    content:attr(value);
    font-size:12px;
    background: #F85454;
    border-radius:50%;
    padding:2px 6px;
    position:relative;
    left:-8px;
    top:-12px;
}



.btn-blue {
   	background: #325BA6;
	color: #f2f2f2;
    width: 100%;
    height: 50px;
}

.product-price {
    float: right; z-index: 2; position: absolute; right: 25px;
}

.no-border {
    border-radius: 0px;
}

      #p-float {
        max-width: 1200px;
        margin: 0 auto;
        /* Clearfix */
        overflow: auto;
      }
      #p-float::after {
        /* Clearfix */
        content: "";
        clear: both;
        display: table;
      }
      /* Product items */
      div.p-float {
        float: left;
        width: 25%;
      }
      div.p-float-in {
        box-sizing: border-box;
        margin: 5px;
        padding: 10px;
        border: 1px solid #e5e5e5;
        background: #ffffff;
      }
      img.p-img {
        width: 100%;
        height: auto;
      }
      div.p-name {
        font-weight: bold;
        font-size: 1.1em;
      }
      div.p-price {
        color: #f44242;
      }
      div.p-desc {
        color: #888;
        font-size: 0.9em;
      }
      button.p-add {
        background: #f46b41;
        color: #fff;
        border: none;
        width: 100%;
        padding: 10px;
        margin: 10px 5px 5px 5px;
        font-size: 1.1em;
        font-weight: bold;
        cursor: pointer;
      }
      /* Responsive */
      @media only screen and (max-width: 1024px) {
        div.p-float { width: 33%; }
      }
      @media only screen and (max-width: 600px) {
        div.p-float { width: 50%; }
      }
      /* [DOES NOT MATTER] */
      html, body {
        padding: 0;
        margin: 0;
        font-family: arial, sans-serif;
      }




.animation {
    animation: logo_move 7s infinite;
    animation-duration: 7s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: logo_move;
}
@-webkit-keyframes logo_move {
    0%   {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }
    100%   {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes logo_move {
    0%   {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }
    100%   {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-o-keyframes logo_move {
    0%   {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }
    100%   {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes logo_move {
    0%   {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }
    100%   {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
