{% extends 'layout.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
			  <div class="card-body" style="text-align: center">
                <div class="container">
			  	    <h5><b>Betaling geannuleerd</b></h5>
                </div>
			  </div>
			</div>
			<BR>
		</div>
    </div>

{% endblock %}