{% extends 'layout.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
			  <div class="card-body" style="text-align: center">
                <div class="container">
			  	    <h5><b>Betaling geslaagd</b></h5>
                    <p>Bedankt voor uw bestelling! Deze zal zo snel mogelijk te vinden zijn op de server! <br>Mocht u deze na 60 minuten nog niet hebben, neem dan contact op via een ticket in de Discord!</p>
                </div>
			  </div>
			</div>
			<BR>
		</div>
    </div

{% endblock %}