{% extends 'layout.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			
			<div class="card">
			  <div class="card-body" style="text-align: center">
                <div class="container">
			  	    <h5><b>Voer Minecraft naam in</b></h5>
                    <br>
                    <form action="/loginForm" method="post">
                        <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="username" required>
                        <br>
                        <input class="btn btn-primary" type="submit" value="Ga verder" style="width: 100%; background: #325BA6; border-color: #325BA6;">
                    </form>
                </div>
			  </div>
			</div>
			<BR>
		</div>
    </div>

{% endblock %}
