{% extends 'layout.html' %}
{% block content %}
  <script
      src="https://www.paypal.com/sdk/js?client-id=AaQD3oc_7nF7kEsCFk7qmVQs_15H9vyqF9hNjLNNaJdTJm4DkWWvMZD-YfuBOhy5rdU-uxmlMQ6ukzxW&currency=EUR"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
  </script>

    <style>
    input[type=text], input[type=email], select {
        border-radius: 0px;
    }
    </style>

	<div class="row">
		<div class="col-md-8">
			<div class="card">
			  <div class="card-body">
                <div class="col-md-12 order-md-1">
                    <h4 class="mb-3">Betalingsmethode</h4>
                        <hr>
                        <div id="paypal-button-container"></div>
                </div>
			  </div>
			</div>
			<BR>
		</div>
		<div class="col-md-4 order-md-2 mb-4">
        {% if not loggedIn %}

        {% else %}
		  <ul class="list-group mb-3" class="recent-orders" style="border-radius: 0px;">
		    <li class="list-group-item d-flex justify-content-start lh-condensed">
			<div>
				<img src="https://crafatar.com/avatars/7ca041a4-d52b-4b87-bca1-c25d083f54b4?size=40&overlay">
			</div>
			<div style="margin-left: 20px;">
				<h6 class="my-0">{{ username }}</h6>
                <a href="/logout">Log uit</a>
			</div>
		    </li>
		  </ul>
        {% endif %}

		  <ul class="list-group mb-3" class="recent-orders" style="border-radius: 0px;">
		    <li class="list-group-item d-flex justify-content-start lh-condensed">
			<div>
				<img src="https://crafatar.com/avatars/7ca041a4-d52b-4b87-bca1-c25d083f54b4?size=40&overlay">
			</div>
			<div style="margin-left: 20px;">
				<h6 class="my-0">BuddieDJ</h6>
				<small class="text-muted">1x Legend rank</small>
			</div>
		    </li>
		    <li class="list-group-item d-flex justify-content-start lh-condensed">
			<div>
				<img src="https://crafatar.com/avatars/7ca041a4-d52b-4b87-bca1-c25d083f54b4?size=40&overlay">
			</div>
			<div style="margin-left: 20px;">
				<h6 class="my-0">BuddieDJ</h6>
				<small class="text-muted">1x Legend rank</small>
			</div>
		    </li>
		    <li class="list-group-item d-flex justify-content-start lh-condensed">
			<div>
				<img src="https://crafatar.com/avatars/7ca041a4-d52b-4b87-bca1-c25d083f54b4?size=40&overlay">
			</div>
			<div style="margin-left: 20px;">
				<h6 class="my-0">BuddieDJ</h6>
				<small class="text-muted">1x Legend rank</small>
			</div>
		    </li>

		    <li class="list-group-item d-flex justify-content-start lh-condensed">
			<div>
				<img src="https://crafatar.com/avatars/7ca041a4-d52b-4b87-bca1-c25d083f54b4?size=40&overlay">
			</div>
			<div style="margin-left: 20px;">
				<h6 class="my-0">BuddieDJ</h6>
				<small class="text-muted">1x Legend rank</small>
			</div>
		    </li>

		    <li class="list-group-item d-flex justify-content-start lh-condensed">
			<div>
				<img src="https://crafatar.com/avatars/7ca041a4-d52b-4b87-bca1-c25d083f54b4?size=40&overlay">
			</div>
			<div style="margin-left: 20px;">
				<h6 class="my-0">BuddieDJ</h6>
				<small class="text-muted">1x Legend rank</small>
			</div>
		    </li>
		  </ul>
		</div>
		</div>
  	</div>

    <script>
  paypal.Buttons({

    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: {{ totalPrice }}
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        window.location.href = '/completePayment'
      });
    },
    onCancel: function (data) {
        window.location.href = '/cancelled'
    }

  }).render('#paypal-button-container');

    </script>


{% endblock %}

{#                var localdata = {};#}
{#                for (var i = 0, len = sessionStorage.length; i < len; ++i) {#}
{#                    localdata[sessionStorage.key(i)] = sessionStorage.getItem(sessionStorage.key(i))]#}
{#                };#}
{#                $.ajax({#}
{#                    url: "{{ url_for('complete', _external=True) }}",#}
{#                    type: 'POST',#}
{#                    dataType: 'json',#}
{#                    contentType: 'application/json;charset=UTF-8',#}
{#                    accepts: {#}
{#                     json: 'application/json',#}
{#                    },#}
{#                    data: JSON.stringify(localdata), // see madalin's answer#}
{#                    ...#}
{#                })#}