{% extends 'layout.html' %}
{% block content %}

	<div class="row">
		<div class="col-md-8">
			<div class="card">
                <div class="card-header" style="text-align: center; background: {{ color }}; border-color: {{ color }}; color: #fff;">
			  	    <h5 style="margin-top: 5px"><b>{{ name }}</b></h5>

                </div>
			  <div class="card-body">
                <p>{{ description }}</p>
                <br>
                <h4 class="product-price">€ {{ price }},00</h4>
                  <br>
                  <br>
                <a href="/addtocart/?id={{ id }}" class="btn btn-info" style="float: right; border-radius: 0; background: #325BA6; border-color: #325BA6;">Voeg toe aan winkelwagen</a>
			  </div>
			</div>
			<BR>
		</div>
		<div class="col-md-4 order-md-2 mb-4">
        {% if not loggedIn %}

        {% else %}
		  <ul class="list-group mb-3" class="recent-orders" style="border-radius: 0px;">
		    <li class="list-group-item d-flex justify-content-start lh-condensed">
			<div>
				<img src="https://crafatar.com/avatars/{{ uuid }}?size=40&overlay">
			</div>
			<div style="margin-left: 20px;">
				<h6 class="my-0">{{ username }}</h6>
                <a href="/logout">Log uit</a>
			</div>
		    </li>
		  </ul>
        {% endif %}
		  <ul class="list-group mb-3" class="recent-orders" style="border-radius: 0px;">
              {% for i in orderData %}
                <li class="list-group-item d-flex justify-content-start lh-condensed">
                <div>
                    <img src="https://crafatar.com/avatars/{{ i[1] }}?size=40&overlay">
                </div>
                <div style="margin-left: 20px;">
                    <h6 class="my-0">{{ i[2] }}</h6>
                    <small class="text-muted">{{ i[3] }}</small>
                </div>
                </li>
              {% endfor %}
          </ul>
		</div>
		</div>
  	</div>

{% endblock %}

