{% extends 'layout.html' %}
{% block content %}

	<div class="row">
		<div class="col-md-8">
			<div class="card">
			  <div class="card-body">
                <div class="row">

                    {% for row in products %}

                    <div class="col-md-6" style="margin-top: 25px">
                        <div class="card">
                          <a href="/product?id={{ row[0] }}" style="width: 60%; height: auto; margin: 25px auto">
                            <img src="https://staff.darkmc.nl/uploads/{{ row[5] }}" class="card-img-top" alt="..." >
                          </a>
                          <div class="card-body">
                            <p class="card-text">
                                <b>{{ row[1] }}</b>
                                <br>
                                € {{ row[2] }},00
                            </p>
                              <a href="/product?id={{ row[0] }}" class="btn btn-info" style="width: 100%; border-radius: 0px; background: #325BA6; border-color: #325BA6;">Bekijk product</a>
                          </div>
                        </div>
                    </div>
                    <br>

                    {% endfor %}

                </div>

			  </div>
			</div>
			<BR>
		</div>
		<div class="col-md-4 order-md-2 mb-4">
        {% if not loggedIn %}

        {% else %}
		  <ul class="list-group mb-3" class="recent-orders" style="border-radius: 0px;">
		    <li class="list-group-item d-flex justify-content-start lh-condensed">
			<div>
				<img src="https://crafatar.com/avatars/{{ uuid }}?size=40&overlay">
			</div>
			<div style="margin-left: 20px;">
				<h6 class="my-0">{{ username }}</h6>
                <a href="/logout">Log uit</a>
			</div>
		    </li>
		  </ul>
        {% endif %}
		  <ul class="list-group mb-3" class="recent-orders" style="border-radius: 0px;">
              {% for i in orderData %}
                <li class="list-group-item d-flex justify-content-start lh-condensed">
                <div>
                    <img src="https://crafatar.com/avatars/{{ i[1] }}?size=40&overlay">
                </div>
                <div style="margin-left: 20px;">
                    <h6 class="my-0">{{ i[2] }}</h6>
                    <small class="text-muted">{{ i[3] }}</small>
                </div>
                </li>
              {% endfor %}
		  </ul>
		</div>
		</div>
  	</div>

{% endblock %}

