{% for i in data %}

    {{ i[1] }}
    {{ i[2] }}
    {{ i[3] }}
    {{ i[4] }}
    {{ i[5] }}
    {{ i[6] }}


    <br>


{% endfor %}
<br>
------------------------------
<br>
{% for i in testd %}
    {{ i[1] }}
    {{ i[2] }}
    {{ i[3] }}
    {{ i[4] }}
    {{ i[5] }}
    {{ i[6] }}
    {{ i[7] }}
    {{ i[8] }}
    {{ i[9] }}
    {{ i[10] }}
    {{ i[11] }}
    {{ i[12] }}
    {{ i[13] }}
    {{ i[14] }}
    {{ i[15] }}

    <br>


{% endfor %}